@import 'base.less';

/* 主体 */
#main{
    display: flex;
    background-color: #ccc;
    .left{
        width: .8rem;
        .mui-table-view-cell:after{
            left: 0;
        }
        ul{
            li{
                &.active{
                    background-color: #ccc;
                }
            }
        }
    }
    .right{
        padding: .1rem;
        flex: 1;
        a{
            background-color: #fff;
            text-align: center;
            display: block; 
            img{
                width: 100%;
            }
        }
    }
}