html {
  font-size: 26.66667vw;
}
body {
  font-size: .14rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
img {
  vertical-align: middle;
}
ul,
li {
  list-style: none;
}
a {
  color: #666;
}
/* 头部 */
#header {
  display: flex;
  background-color: #006699;
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
}
#header a {
  color: #fff;
}
#header .left,
#header .right {
  width: .45rem;
  height: .45rem;
  text-align: center;
  line-height: .45rem;
}
#header .center {
  flex: 1;
  height: .45rem;
  line-height: .45rem;
}
#header .center h4 {
  text-align: center;
  line-height: .45rem;
  font-weight: normal;
}
#header .center input {
  background-color: #fff;
  font-size: .14rem;
  text-align: left;
  height: .35rem;
  margin-bottom: 0;
}
/* 中间主体区域样式 */
#main {
  height: 100vh;
  padding: .45rem 0;
}
#main .mui-scroll-wrapper {
  height: 100%;
  position: relative;
}
#main .search-form > form {
  display: flex;
  padding: .1rem;
}
#main .search-form > form .input-search {
  flex: 1;
  text-align: left;
  font-size: .14rem;
  border: 0.01rem solid #006699;
  background-color: #fff;
  border-radius: .06rem 0 0 0.06rem;
  margin-bottom: 0;
}
#main .search-form > form .btn-search {
  height: .34rem;
  background-color: #006699;
  border-color: #006699;
  border-radius: 0 .06rem .06rem 0;
}
/* 底部 */
#footer {
  background-color: #006699;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 99;
}
#footer a {
  height: .45rem;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#footer a span {
  line-height: 1;
}
#footer a.active {
  color: #ffa500;
}
/* 主体 */
#main {
  background-color: #fff;
}
#main .search-history span {
  font-size: .14rem;
}
#main .search-history ul li {
  color: #666;
}
